/* You can add global styles to this file, and also import other style files */
footer {
    text-align: center;
    padding-top: 5px;
    background-color: cornflowerblue;
    height: 40px;
    font-size:2em;
}
footer a{
    color: white !important;
}
